@import url("../../bower_components/bootstrap/dist/css/bootstrap.css");

@font-face {
  font-family: calibri;
  src: url(../fonts/Calibri.ttf);
}

body {
  font-family: calibri;
}

#content {
  width: 90%;
  margin: auto;
}

#left-sidebar {
  float: left;
  width: 25%;
}

#index-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#index-wrapper > * {
  margin: 10px;
}

#cards {
  display: inline-block;
  float: left;
  width: 75%;
  margin-top: 20px;

  img {
    width: 100%;
  }
}

#cards li:nth-child(4n + 1) {
  clear: left;
}

#cards > * {
  padding: 0;
}

#cards li {
  float: left;
  list-style-type: none;
}

div.card img {
  width: 100%;
}

#found-so-far {
  display: inline-block;
}

#found-so-far > h4 {
  margin-left: 1em;
}

.this-set li {
  float: left;
  list-style-type: none;
  display: inline-block;
}

.this-set li img {
  height: 60px;
  width: 96px;
  margin: 0 3px;
}

.center {
  text-align: center;
}

.selected {
  -webkit-box-shadow: 0px 0px 5px 10px rgba(97, 25, 97, 0.65);
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
